<main>
  {{#each products}}
  <div class="card">
    <h1>{{productName}}</h1>
    <p class="price">${{price}}</p>
    <p><label id="quantity{{id}}" for="quantity">Quantity</label></p>
    <p><input id="quant{{id}}" name="quantity" value="1" type="number"></p>
    <p><button id={{id}} class="btn">Add to Cart</button></p>
  </div>
  {{/each}}
  <div class="cart">
    <h1 id="items">In Cart: 0</h1>
    <h1 id="total">Total: $0</h1>
    <button onclick="getCheckout()" type="submit" id="checkout">Checkout</button>
  </div>
</main>