<table>
  <tr>
    <th>Id</th>
    <th>Product</th>
    <th>Price</th>
  </tr>
  {{#each products}}
  <tr data-href="{{id}}">
    <td><a href="/{{id}}">{{id}}</a></td>
    <td><a href="/{{id}}">{{productName}}</a></td>
    <td><a href="/{{id}}">${{price}}</a></td>
  </tr>
  {{/each}}
</table>